
PyPDF2==3.0.1
python-dotenv==1.0.0
streamlit==1.39.0
faiss-cpu
altair==4.2.2
Pillow==10.4.0
langchain>=0.2.0
langchain-community>=0.2.0
langchain-text-splitters>=0.2.0
transformers
sentence-transformers 